#!/bin/sh

brew bundle --no-lock --file=/dev/stdin <<EOF
# general
brew "git"
brew "gh"
brew "nvim"
brew "helix"
brew "starship"
brew "fd"
brew "exa"

# python dev
brew "pyenv"
brew "pipx"

# rust dev
brew "rust"
brew "rust-analyzer"

#azure
brew "azure-cli"
{{- if eq .chezmoi.os "darwin" -}}

# cask dev
cask "dotnet"

# cask cli
tap "microsoft/git"
cask "git-credential-manager-core"
cask "1password-cli"

# cask apps
cask "alacritty"
cask "amethyst"
cask "1password"
cask "visual-studio-code"
cask "google-chrome"
# cask "slack"
cask "via"
cask "the-unarchiver"

# cask fonts
tap "homebrew/cask-fonts"
cask "font-jetbrains-mono-nerd-font"

# mas app
mas "Amphetamine", id: 937984704
# mas "Magnet", id: 441258766
{{- end -}}
